@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid vh-50 d-flex align-items-center justify-content-center bg-light">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <div class="card shadow-lg border-0">
                <div class="card-body p-5">
                    <h1 class="display-4 text-primary mb-4">Welcome to Employee Management System</h1>
                    <p class="lead mb-4">Effortlessly manage your employees with our intuitive and powerful management system.</p>

                    <a asp-area="" asp-controller="Login" asp-action="Login" class="btn btn-primary btn-lg px-5">Login</a>
   
                </div>
            </div>
        </div>
    </div>
</div>
